<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
		<mapping package="com.swat.mercedes.be.entities" />
		<mapping class="com.swat.mercedes.be.entities.Item" />
		<mapping class="com.swat.mercedes.be.entities.Order" />
		<mapping class="com.swat.mercedes.be.entities.Client" />
		<mapping class="com.swat.mercedes.be.entities.Car" />
	</session-factory>
</hibernate-configuration>
